.dashboard-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 50px;
  }
  
  form {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: #555;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  button {
    padding: 10px 15px;
    color: white;
    margin: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
 #name{background-color: black;}
  
  .loan-card {
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .loan-card h4 {
    margin-bottom: 50px;
    color: #333;
  }
  #name{background-color: black;}
  .loan-card p {
    margin: 5px 0;
    color: #555;
  }
  
  h3 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .dashboard-container {
      padding: 10px;
    }
  
    form {
      padding: 15px;
    }
  }
  